.form{
    margin-top: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
}
form .formControls{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
gap: 2rem;
}
form .submit{
    text-align: center;

}
form input{
    border-radius: 5px;
    padding: 10px;
}
form button{
    padding: 10px;
    text-transform: uppercase;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    border-radius: 7px;
}